@font-face {
    font-family: pollo;
    src: url(../fonts/CHICKEN\ Pie.ttf);
}
header{
    background-color: red;
    width: 1250px;
    height: 250px;
    border-color: goldenrod;
    border-style: dotted;
    border-width: 5px;
    box-sizing: border-box;
    border-radius: 40px;
}
h1{
    text-align: center;
    font-size: 35pt;
    color: goldenrod;
    font-family: pollo, sans-serif;
}