img{
    width: 900px;
    position: relative;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
img:hover{
    animation-name: reloj;
}
@keyframes reloj{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}