body{
    margin: 0;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul a{
    color: white;
    text-decoration: none;
    background-color: #333333;
    padding: 20px;
    transition: all 0.2s;
}
nav ul a:hover{
    background-color: #9B1C26;
    transform: scaleY(1.1);
}