body{
    background-color: #284b5b;
    text-decoration: none;
}
.cuerpo{
    background-color: white;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}
h1{
    text-align: center;
    font-size: 30pt;
    text-shadow: 0 0 5px #ac3bbb, 0 0 7px #2525ff;
}
h2{
    color: #30b0e5;
}
.centrado{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: justify;
    font-size: 20px;
    text-indent: 50pt;
    width: 83%;
    position: relative;
    left: 50px;
}
